.content{width: 750px;margin:20px auto;}
.content .example{display:block; width: 300px;height: 300px;margin: 20px auto;}
.test_area{margin-top: 20px;}
pre {white-space: pre-wrap;word-wrap: break-word;background: black;color: white;width: 700px; margin: 20px auto;border-radius: 20px;}
section{margin-bottom: 30px;}